<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Main Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              routerLink="goods" routerLinkActive="active">
              Goods
            </a>
            <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarDropdownMenuLink">
              <!-- <li><a class="dropdown-item" href="/goods">Goods List</a></li> -->
              <li><a class="dropdown-item" href="/goods/new">Add Product</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              routerLink="orders" routerLinkActive="active">
              Orders
            </a>
            <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarDropdownMenuLink">
              <!-- <li><a class="dropdown-item" href="/orders" routerLink="/orders" routerLinkActive="activebutton">Orders List</a></li> -->
              <li><a class="dropdown-item" href="/orders/new">Create Order</a></li>
            </ul>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>

<div class="container">
    <router-outlet></router-outlet>
</div>